.root

    {
  -fx-background-color:#ffe9e3;  

}
    Label
{
   -fx-background-color:#c4c1e0;
  -fx-background-radius:10px;
  -fx-text-fill:white;
  -fx-padding:5px;
  -fx-font-size:25px;
  -fx-font-weight:bold; 
  -fx-font-family:system;
}
ListView
{
    -fx-background-color:#c4c1e0;
    
}
  Button
{
   -fx-background-color:#00416d;
  -fx-background-radius:50px;
  -fx-text-fill:white;
  -fx-padding:5px;
  -fx-font-size:22px;
  -fx-font-weight:bold; 
  -fx-font-family:system;
  
}  

