.root
{
  -fx-background-color:#ffe9e3;  
}
TextField
{
   
    -fx-text-fill:white;
    -fx-background-radius:15px;
    -fx-prompt-text-fill: white;
    -fx-padding: 10px;
    -fx-background-color:#c4c1e0; 
    -fx-border-insets: 5px;
    
}
Button
{
   -fx-background-color:#00416d;
  -fx-background-radius:15px;
  -fx-text-fill:white;
  -fx-padding:5px;
  -fx-font-size:22px;
  -fx-font-weight:bold; 
  -fx-font-family:system;
  
}
